    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROMO C/L CON 2 LUNAS . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO C/L .1/2 PORCTORTA  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO C/ LECHE .1/2 TOST  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO JUGO TOSTADO MIXTO  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/CREMA . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE . . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE C/CREMA . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE 3 LUNAS . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE CON TOSTADAS $200</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCCINO . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCCINO ITALIANA . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICAN C/CREMA . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO . . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATADA . . . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE CALIENTE . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE .CALIENTE O CREMA . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE . . . . . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE C/LECHE . . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE CALIENTE CON CREMA  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS C/U . . . . .   $35</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADAS GALLETITAS . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>MANTECA O MERMELADA . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE GRILL ASTURIAS . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFES ESPECIALES . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION TORTA RICOTA/FROL $160</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">TORTAS CAFETERIAS   </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PORCION TORTA ARTESANAL . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>TIRAMISU CASERITO . . . . $170</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/grast/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS Y JUGO / LIC</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SIFON DE SODA . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>SABORIZADA . . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA O AGUA . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGOS EXPRIMIDOS . . . .  $155</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGO DE LIMON . . . . . . $105</li>                          
                <li class="text-center"><span class="fa-li"></span>EXPRIMIDO DE LIMON . . .  $145</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADOS AL AGUA . . . .  $155</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADOS CON LECHE . . .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO LECHE . . . . . .  $20</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CERVEZA VARIAS      </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHOPP 330CC . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA ARTOIS 970ML HEINE $330</li>                          
                <li class="text-center"><span class="fa-li"></span>PATAGONIA 740ML . . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA CERVEZA 1LT Y 1/4 . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES BOCK/STOUT . . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES 1890 970ML IMPERI $280</li>                          
                <li class="text-center"><span class="fa-li"></span>CERVEZA IPA APA . . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>PORRON STELLA 330ML . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA DE .STELLA .HEINEKEN $150</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINO TINTO / BLANCO </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 3/4 TINTO/BLA $240</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ 3/4 . . . . . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO 3/4 . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>ETCHART PRIVADO BLANCO .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 LITRO MOSCATO CROTTA  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 LITRO MOSCATO CROTTA  $115</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 375CC . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ 375CC . . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO 375CC . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>NICASIA DE CATENA . . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>SAINT FELICIEN DE CATENA  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>CHATEAU VIEUX 750 . . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>COMTE VALMONT 750CC . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>COMTE VALMONT 375CC . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS DE CATENA 3/4 . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFAYATE VARIETAL 3/4 . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 LITRO DE VINO . . . . $115</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 LITRO DE VINO . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>1 LITRO DE VINO . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>1 LITRO DE MOSCATO CROTTA $220</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CHAMPAGNE Y SIDRAS  </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CLERICO . . . . . . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA . . . . . . . . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>FEDERICO ALVEAR . . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>CHANDON EXTRA BRUT . . .  $750</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICOR /APERITIVO /WH</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>APERITIVO CORTADO . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CINZANO/GANCIA/CAMPARI .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>BLENDERS . . . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CHIVAS REGAL . . . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET BRANCA . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>INGREDIENTES . . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CRIADORES/PREMIUM . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>OLD SMUGLER . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>LICORES/AGUARDIENTES . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>JB . . . . . . . . . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA SAN JUAN . . . .  $115</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET COLA/GIN TONIC . . $210</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/grast/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICH            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ESPECIAL QUESO . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL JAMON COCIDO . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL COCIDO Y QUESO . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL CRUDO . . . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL CRUDO Y QUESO .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADO MIXTO . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNA C/JAMON Y QUESO $115</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO HUEV QUE/JAM/LECH  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO DE PALMIT ATUN/CR  $70</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ARABES CALIENTES    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ARABE DE POLLO SOLO . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL LOMO/COLITA SOLO $450</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL POLLO COMPLETO . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL LOMO/COLI COMPLE $550</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL DE MILANESA SOLO $400</li>                          
                <li class="text-center"><span class="fa-li"></span>SPECIAL MILANESA COMPLET  $450</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS GRANDE       </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FUGAZZETA RELLENA GR . .  $760</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZETA RELLENA C/ JAMO $800</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZZARELLA GDE . . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZZA CON JAMON . . . . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZZARELLA Y MORRONES . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON Y MORRONES GDE . .  $560</li>                          
                <li class="text-center"><span class="fa-li"></span>MIXTA GRANDE . . . . . .  $560</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA C/AJO GRANDE . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>CALABRESA GRANDE . . . .  $560</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA . . . . . . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZETA . . . . . . . . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>ROQUEFORT GR . . . . . .  $620</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOAS GDE . . . . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS CON JAMON GDE .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>ANANA CON JAMON GDE . . . $620</li>                          
                <li class="text-center"><span class="fa-li"></span>VERDURA GDE . . . . . . . $620</li>                          
                <li class="text-center"><span class="fa-li"></span>A LA ESPANOLA GDE . . . . $620</li>                          
                <li class="text-center"><span class="fa-li"></span>A LA ITALIANA GDE . . . . $620</li>                          
                <li class="text-center"><span class="fa-li"></span>A LA ROMANA .GDE . . . .  $620</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL DE LA CASA GDE . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>PROVOLONE Y JAMON GRANDE  $590</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPO ESPECIAL GRANDE . .  $590</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE CRUDO C/RUCULA . . $750</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS CHICA        </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MUZZARELLA CH . . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZZA CON JAMON CH . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZZARELLA Y MORRON CH .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON Y MORRONES CH . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>MIXTA CHICA . . . . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA CHICA . . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>CALABRESA CHICA . . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA CHICA . . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZETA CHICA . . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>ROQUEFORT CH . . . . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOAS CHICA . . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS CON JAMON CHI .  $560</li>                          
                <li class="text-center"><span class="fa-li"></span>ANANA CON JAMON CH . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>VERDURA CH . . . . . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>A LA ESPANOLA .CHICA . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>A LA ITALIANA CH . . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>A LA ROMANA .CHICA . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL DE LA CASA CH .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>PROVOLONE Y JAMON CHICA . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPO ESPECIAL CHICA . . . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA CRUDO C/ RUCULA . . $650</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS PORCION      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA . . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA C/JAMON . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION NAPO . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC JAMON Y MORRONES . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC FUGA RELLE . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FUGA RELL C/JAMON $110</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA . . . . . . . . . .  $40</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS Y TARTAS  </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TARTA PORCION VARIAS . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>CELIACOS EMPANADAS . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CELIACOS PIZZA/TARTA . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS . . . . . . . .  $70</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADA FRIA        </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CROQUETAS DE VERDURAS . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON COCIDO PORCION . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO PORCION . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE CASERO C/RUSA .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>MAYO/SALPICON DE ATUN . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS CON JAMON CRUDO  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>SALPICON/MAYO DE AVE . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>PICADA DE LA CASA . . . .$1900</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS CON SALSA GOLF . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC ACEITUNAS/MORRON . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>LENGUA A LA VINAGRETA . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>VITHEL TONE . . . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION PROVOLONE/ROQUEFO $480</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION DE QUESO . . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE CASERO SOLO . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA RUSA PORCION . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION DE ROQUEFORT Y PR $480</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENS MIXTA HASTA 3 ING . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA GRANDE O COMPLET $350</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MINUTAS VARIAS      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ZAPALLITOS RELLENOS . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>DADITOS DE MUZZARELLA MIL $440</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARN PURE/FRITAS . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC FRITAS/PURE . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO PROVENZAL . . . .  $30</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVO FRITO CADA UNO . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>ESCALOPE TERNERA . . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE TERNERA . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA POLLO DE RELLENA C/G $550</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA NAPO/FUGAZZ/ITALIANA $400</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA COMPLETA . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA /SUPREMA RIOJANA $750</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE POLLO . . . . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA POLLO . . . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA POLLO ITALIANA/NAPO  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA NAPOLITANA . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER MILANGA CON FRITAS $1300</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA MARYLAND . . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA SUIZA O GRISETTE  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA COMPLETA . . . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERNERA SUIZA C/GUAR $550</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">TORTILLA  / OMELETTE</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OMELETTE CAPRESSE . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE SUIZO O CHAMPIGN $450</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE JAMON/QUESO . .  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPANOLA . . . . $490</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA PAPA Y CEBOLLA . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA DE PAPA O VERDUR $450</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">POLLO ESPECIALES    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>1/4 POLLOS ESPECIALES . . $490</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PASTAS Y SALSAS     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LASAGNA RELLENA . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>CANELONES VERDURA O/ RICO $250</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES . . . . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>NOQUIS O TALLARINES . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENTINOS/AGNOLOTIS . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA BOLOG /SCARP/BLANCA $150</li>                          
                <li class="text-center"><span class="fa-li"></span>ESTOFADO CARNE/POLLO/ALBO $250</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA GRAN CAR/4 QUESOS . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>TUCO FILETO CREMA MIXTA . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION DE ESTOFADO . . . $410</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA PARISSIENE . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA AL FUNGHY O CURATTO $160</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PROMO PIZZAS        </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROMO 2 PORC MUZZ .BEBID  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO PIZZA 1 . . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 FUGAZZETA . . . . $245</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO PIZZA 3 . . . . . . $255</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO EMPANADAS .BEBIDA . $250</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PESCADO VARIOS      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ARROZ .C/ CALAMARES . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CALAMARES AL VINO BLANCO  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 RABAS . . . . . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS PORCION . . . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET DE MERLUZA . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET ROQUEFORT C/GUARN . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>PAELLA A LA VALENCIANA .  $900</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PARRILLAS VARIAS    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BIFE ASTURIAS . . . . . .$1200</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE LOMO . . . . . .  $730</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO DESHUESADO . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>ASADO DE TIRA . . . . . . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE CHORIZO 400 GRAMOS . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE CHORIZO MARIPOSA . . $730</li>                          
                <li class="text-center"><span class="fa-li"></span>CHORIZO . . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE TIERNIZADO . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>COSTILLA DE CERDO 2 C/FRI $580</li>                          
                <li class="text-center"><span class="fa-li"></span>COSTILLA DE CERDO RIOJANA $800</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PLATOS CALIENTES    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ARROZ C/ POLLO A LA VALEN $590</li>                          
                <li class="text-center"><span class="fa-li"></span>GRAMAJO . . . . . . . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>BERENJENAS NAPOLITANAS .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>ACELGA C/ JAMON Y CREMA . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>ACELGA AL NATURAL . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTEL DE PAPAS . . . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>ACELGA SALTEADA CON AJO . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA CASERA 3 . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE .VERDEO O PIZZA  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO AL CHAMPIGNON . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>TAPA DE ASADO CON PAPAS . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>COLITA DE CUADRIL C/PAPAS $580</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/grast/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES CASEROS     </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS FRUTAS . . . . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA DE FRUTAS C/HELA $280</li>                          
                <li class="text-center"><span class="fa-li"></span>FRUTILLAS AL NATURAL . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>DURAZNOS EN ALMIBAR . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>SOPA INGLESA TRADICIONAL  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO CREMA O .DULCE .   $20</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA CASERA . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 HELADO . . . . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO DE 2 BOCHAS . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO TRES BOCHAS . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMENDRADO O BOMBON . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>BANANA CON CREMA . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CHARLOTTE . . . . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>ANANA EN ALMIBAR . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>FRUTAS POR UNIDAD . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>BANANA SPLIT . . . . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA MELBA / ASTURIAS . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE DUL O CREM . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE MANZANA AL RHUM $260</li>                          
                <li class="text-center"><span class="fa-li"></span>ZAPALLO EN ALMIBAR . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRO . . . . . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE MIXTO . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>MANZANA ASADA . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>MERENGUES 1 TAPA SOLO . .  $75</li>                          
                <li class="text-center"><span class="fa-li"></span>MERENGUE 1 CON CREMA O DU  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>MERENGUE 2 C CREMA O DULC $120</li>                          
                <li class="text-center"><span class="fa-li"></span>MERENGUE MIXTO . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>DULCE DE BATATA . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO FRESCO . . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO Y DULCE . . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>TARANTELA . . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>ICE CREAM SODA . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>MOUSSE DE CHOCOLATE . . . $150</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/grast/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
