    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS Y JUGO / LIC</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SIFON DE SODA . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>SABORIZADA . . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA O AGUA . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGOS EXPRIMIDOS . . . .  $155</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGO DE LIMON . . . . . . $105</li>                          
                <li class="text-center"><span class="fa-li"></span>EXPRIMIDO DE LIMON . . .  $145</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADOS AL AGUA . . . .  $155</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADOS CON LECHE . . .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO LECHE . . . . . .  $20</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CERVEZA VARIAS      </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHOPP 330CC . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA ARTOIS 970ML HEINE $330</li>                          
                <li class="text-center"><span class="fa-li"></span>PATAGONIA 740ML . . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA CERVEZA 1LT Y 1/4 . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES BOCK/STOUT . . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES 1890 970ML IMPERI $280</li>                          
                <li class="text-center"><span class="fa-li"></span>CERVEZA IPA APA . . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>PORRON STELLA 330ML . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA DE .STELLA .HEINEKEN $150</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINO TINTO / BLANCO </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 3/4 TINTO/BLA $240</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ 3/4 . . . . . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO 3/4 . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>ETCHART PRIVADO BLANCO .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 LITRO MOSCATO CROTTA  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 LITRO MOSCATO CROTTA  $115</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 375CC . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ 375CC . . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO 375CC . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>NICASIA DE CATENA . . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>SAINT FELICIEN DE CATENA  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>CHATEAU VIEUX 750 . . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>COMTE VALMONT 750CC . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>COMTE VALMONT 375CC . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS DE CATENA 3/4 . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFAYATE VARIETAL 3/4 . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 LITRO DE VINO . . . . $115</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 LITRO DE VINO . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>1 LITRO DE VINO . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>1 LITRO DE MOSCATO CROTTA $220</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CHAMPAGNE Y SIDRAS  </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CLERICO . . . . . . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA . . . . . . . . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>FEDERICO ALVEAR . . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>CHANDON EXTRA BRUT . . .  $750</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICOR /APERITIVO /WH</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>APERITIVO CORTADO . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CINZANO/GANCIA/CAMPARI .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>BLENDERS . . . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CHIVAS REGAL . . . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET BRANCA . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>INGREDIENTES . . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CRIADORES/PREMIUM . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>OLD SMUGLER . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>LICORES/AGUARDIENTES . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>JB . . . . . . . . . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA SAN JUAN . . . .  $115</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET COLA/GIN TONIC . . $210</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/grast/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
