    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROMO C/L CON 2 LUNAS . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO C/L .1/2 PORCTORTA  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO C/ LECHE .1/2 TOST  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO JUGO TOSTADO MIXTO  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/CREMA . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE . . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE C/CREMA . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE 3 LUNAS . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE CON TOSTADAS $200</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCCINO . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCCINO ITALIANA . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICAN C/CREMA . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO . . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATADA . . . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE CALIENTE . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE .CALIENTE O CREMA . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE . . . . . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE C/LECHE . . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE CALIENTE CON CREMA  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS C/U . . . . .   $35</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADAS GALLETITAS . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>MANTECA O MERMELADA . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE GRILL ASTURIAS . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFES ESPECIALES . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION TORTA RICOTA/FROL $160</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">TORTAS CAFETERIAS   </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PORCION TORTA ARTESANAL . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>TIRAMISU CASERITO . . . . $170</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/grast/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
