    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES CASEROS     </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS FRUTAS . . . . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA DE FRUTAS C/HELA $280</li>                          
                <li class="text-center"><span class="fa-li"></span>FRUTILLAS AL NATURAL . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>DURAZNOS EN ALMIBAR . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>SOPA INGLESA TRADICIONAL  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO CREMA O .DULCE .   $20</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA CASERA . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 HELADO . . . . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO DE 2 BOCHAS . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO TRES BOCHAS . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMENDRADO O BOMBON . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>BANANA CON CREMA . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CHARLOTTE . . . . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>ANANA EN ALMIBAR . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>FRUTAS POR UNIDAD . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>BANANA SPLIT . . . . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA MELBA / ASTURIAS . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE DUL O CREM . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE MANZANA AL RHUM $260</li>                          
                <li class="text-center"><span class="fa-li"></span>ZAPALLO EN ALMIBAR . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRO . . . . . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE MIXTO . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>MANZANA ASADA . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>MERENGUES 1 TAPA SOLO . .  $75</li>                          
                <li class="text-center"><span class="fa-li"></span>MERENGUE 1 CON CREMA O DU  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>MERENGUE 2 C CREMA O DULC $120</li>                          
                <li class="text-center"><span class="fa-li"></span>MERENGUE MIXTO . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>DULCE DE BATATA . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO FRESCO . . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO Y DULCE . . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>TARANTELA . . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>ICE CREAM SODA . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>MOUSSE DE CHOCOLATE . . . $150</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/grast/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
